name: Build & Test release-latest
on:
  schedule:
    # Run every hour. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 * * * *'

jobs:
  build_and_test_release_latest:
    name: Build and Test Release Latest ROS ${{ matrix.ros_version }} ${{ matrix.ros_distro }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ros_distro: [kinetic, melodic, dashing]
        include:
        - ros_distro: kinetic
          ubuntu_distro: xenial
          ros_version: 1
          extra_cmake_args: --cmake-target tests
        - ros_distro: melodic
          ubuntu_distro: bionic
          ros_version: 1
          extra_cmake_args: --cmake-target tests
        - ros_distro: dashing
          ubuntu_distro: bionic
          ros_version: 2
          extra_cmake_args: ""
    container:
      image: rostooling/setup-ros-docker:ubuntu-${{ matrix.ubuntu_distro }}-ros-${{ matrix.ros_distro }}-ros-base-latest
    outputs:
      build_result: ${{ steps.build.outcome }}
      test_result: ${{ steps.test.outcome }}
    steps:
    # TODO(setup-ros-docker#7): calling chown is necessary for now
    - run: sudo chown -R rosbuild:rosbuild "$HOME" .
    # Needed for the CMakeLists.txt setup
    - run: export ROS_DISTRO=${{ matrix.ros_distro }}
    # Needed for the CMakeLists.txt setup
    - run: export ROS_VERSION=${{ matrix.ros_version }}
    - uses: ros-tooling/action-ros-ci@0.0.17
      with:
        source-ros-binary-installation: ${{ matrix.ros_distro }}
        package-name: aws_common
        extra-cmake-args: ${{ matrix.extra_cmake_args }}
        # schedule runs against the default branch (master), so specify release-latest via repos file
        vcs-repo-file-url: "https://raw.githubusercontent.com/aws-robotics/utils-common/master/.github/workflows/release_latest.repos"
    - uses: actions/upload-artifact@v1
      with:
        name: colcon-logs-${{ matrix.ubuntu_distro }}-ros-${{ matrix.ros_distro }}
        path: ros_ws/log

  log_workflow_status_to_cloudwatch:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:bionic
    needs:
    - build_and_test_release_latest
    # Don't skip if prior steps failed, but don't run on a fork because it won't have access to AWS secrets
    if: ${{ always() && ! github.event.repository.fork && ! github.event.pull_request.head.repo.fork }}
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
    - uses: ros-tooling/action-cloudwatch-metrics@0.0.4
      with:
        metric-dimensions: >-
          [
            { "Name": "github.event_name", "Value": "${{ github.event_name }}" },
            { "Name": "github.ref", "Value": "release-latest" },
            { "Name": "github.repository", "Value": "${{ github.repository }}" }
          ]
        # Checks if any of the jobs have failed.
        #
        # needs.*.result is returns the list of all success statuses as an
        # array, i.e. ['success', 'failure, 'success']
        # join() converts the array to a string 'successfailuresuccess'
        # contains() checks whether the string contains failure
        metric-value: ${{ ! contains(join(needs.*.result, ''), 'failure') && ! contains(join(needs.*.result, ''), 'cancelled') }}
